<div id="wrapper" class="bg-danger">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav bg-danger">
      <li class="sidebar-brand">
        <a href="#"> Start Bootstrap </a>
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Shortcuts</a>
      </li>
      <li>
        <a href="#">Overview</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Services</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet sit
    numquam autem et quisquam harum vero modi accusamus ea, repellat impedit
    quis inventore temporibus quaerat est sapiente suscipit repudiandae
    blanditiis nemo, id dolorem. Molestiae ea praesentium aut quod repudiandae
    voluptates nisi, distinctio cum tempore aliquid veritatis amet dolore
    adipisci. Architecto sunt dolorum ab quis consectetur accusantium magni
    corrupti reprehenderit quos eum beatae eligendi ipsam, amet ex, aspernatur
    voluptatum! Nihil quas cumque quidem eaque asperiores illum veniam numquam,
    earum perspiciatis non doloremque fugiat minus expedita ipsam qui,
    reprehenderit, magni ullam sequi ad odio dolorum a. Ea commodi unde possimus
    esse voluptates?
  </div>
  <!-- /#sidebar-wrapper -->
</div>
<!-- /#wrapper -->
